<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>动脑学院后台管理系统</title>
    <link rel="stylesheet" href="/css/master.css">
</head>

<body>


<div class="box">
    <form role="form" method="post" action="/login" class="form">
        <h3 class="title">xiaoxiao专属空间登录中心</h3>
        <div class="line">
            <input type="text" autocomplete="off" name="username" value="" class="txt phone" placeholder="请输入用户名">
        </div>
        <div class="line">
            <input type="password" value="" class="txt password" name="password" placeholder="请输入登录密码">
        </div>
        <div class="line tr gray">
            还没账号？
            <a href="/register" class="orange">立即注册</a>
        </div>
        <div class="line">
            <input type="submit" value="登 录" class="btn">
        </div>
    </form>
</div>
</body>

</html>