<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>动脑学院后台管理系统</title>
    <link rel="stylesheet" href="/css/master.css">
</head>

<body>

    <div class="box">
        <form method="post" class="form">
            <h3 class="title">xiaoxiao专属空间注册中心</h3>
            <div class="line">
                <input type="text" autocomplete="off" name="username" value="" class="txt phone" placeholder="请输入用户名">
            </div>
            <div class="line">
                <input type="password" value="" class="txt password" name="password" placeholder="请输入登录密码">
            </div>
            <div class="line tr gray">
                已有账号？
                <a href="/login" class="orange">立即登录</a>
            </div>
            <div class="line">
                <input type="submit" value="注 册" class="btn">
            </div>
        </form>
    </div>
</body>

</html>